* {
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
}

header nav {
  padding: 80px 20px 2px 20px;
}

header img {
  width: 200px;
}

header nav {
  display: flex;
  justify-content: space-around;
  background: #756cb2;
}

#brand-logo {
  flex: 0 1 25%;
}

#nav-links {
  flex: 0 1 75%;
}

.logo {
  width: 145px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

header nav ul li {
  list-style: none;
}

header nav a {
  text-decoration: none;
}

header nav ul li a {
  text-decoration: none;
  color: #010b2c;
  text-transform: uppercase;
}

#banner {
  background-image: url("../img/pagebanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  margin: 5px 20px 0px 20px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
}

#banner p:first-child {
  color: #010b2c;
  font-size: 50px;
}

#banner strong {
  font-weight: bolder;
}

#banner p.second-para {
  color: #010b2c;
  font-size: 32px;
}

#banner a {
  background: linear-gradient(to right, #756cb2 0, #814fa7 100%);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 2px;
}

#bannerSection {
  background: #fff;
  color: #000;
  margin-top: -53px;
  margin-left: 50px;
  margin-right: 50px;
  height: 180px;
  padding-top: 10px;
  z-index: 1;
}

#bannerSection p {
  text-align: center;
}

#bannerSection a {
  text-decoration: none;
  color: #fff;
  padding: 14px;
  background: linear-gradient(to right, #756cb2 0, #814fa7 100%);
  text-align: center;
  display: inline-block;
  width: 48%;
  margin: auto;
  margin-top: 44px;
}

#bannerSection a.first {
  margin-left: 12px;
}

#bannerSection a.second {
  margin-left: 19px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #814fa7;
  color: #814fa7;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

input[type="text"] {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-width: 1px;
  border-style: solid;
}

#indexSecondSection {
  background: #f7f7f7;
  margin-top: 30px;
}

#indexSecondSection div.first-row {
  padding-top: 80px;
}

#indexSecondSection div.second-row {
  padding-top: 60px;
}

#indexSecondSection div.checkboxes {
  margin-top: 70px;
}

#indexSecondSection a {
  background: rgba(0, 0, 0, 0);
  display: block;
  text-align: center;
  padding: 14px;
  color: #814fa7;
  text-decoration: none;
  border: 1px solid #814fa7;
}

#indexSecondSection button[type="submit"] {
  margin-top: 17px;
  padding: 7px 11px;
  border: none;
  background: #010b2c;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}

#indexSecondSection button[type="file"] {
  margin-top: 17px;
  padding: 7px 11px;
  border: none;
  background: #756cb2;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}

#indexThirdSection {
  margin-top: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.fa-edit {
  display: block;
}

#indexThirdSection a {
  color: #fff;
}

#indexThirdSection h3 {
  margin-top: 42px;
  color: #814fa7;
}

#indexThirdSection div {
  background: #756cb2;
  width: 40%;
  color: #fff;
  text-align: center;
  padding: 80px 30px;
  margin-top: 14px;
}

#indexThirdSection div h5 {
  padding-top: 20px;
}

#indexThirdSection div h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#indexThirdSection div.checkboxes {
  margin-top: 27px;
  padding-left: 47px;
}

#indexThirdSection input,
#indexThirdSection textarea {
  border-radius: 0px;
}

#indexFourthSection {
  background: #f7f7f7;
}

#indexFourthSection h1 {
  font-size: 12px;
  margin-left: 50px;
  color: red;
  margin-top: 50px;
}

#indexFourthSection > .row:first-child {
  margin-top: 100px;
}

#indexFourthSection .col-md-4 {
  background-color: #fff;
  margin-bottom: 50px;
  margin-left: 50px;
  flex-basis: 28%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#indexFourthSection .col-md-4 p {
  margin-top: 20px;
}

#indexFifthSection {
  background-color: #272532;
  padding: 50px;
}

#indexFifthSection ul li {
  list-style: none;
}

#indexFifthSection ul li i {
  color: #fff;
}

#indexFifthSection a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 8px;
}

#indexFifthSection p {
  color: #a9a8ad;
  padding-top: 70px;
}

#indexFifthSection h4 {
  color: #a9a8ad;
}

.fa-facebook-f {
  color: #814fa7;
}

footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 100px;
}
